.boton-cerrar-sesion {
    background-color: #ff5722; /* Color de fondo personalizado */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
  }
  