<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio Alumnos</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Bienvenid@ {{ nombreUsuario }}</h1>
  <ng-container *ngIf="seccionesAlumno.length > 0">
    <p>Estas son tus secciones:</p>
    <ion-list>
      <ion-item *ngFor="let seccion of seccionesAlumno">
        {{ seccion.nombre }}
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-button (click)="escanearCodigo()">REGISTRAR ASISTENCIA</ion-button>
</ion-content>
