<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio Alumnos</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <h1>Bienvenid@ {{ nombreUsuario }}</h1>
  <ng-container *ngIf="seccionesAlumno.length > 0">
    <ion-list *ngFor="let seccion of seccionesAlumno">
      <ion-item>
        <ion-list *ngFor="let asignatura of seccion.asignaturas">
          {{ seccion.nombre }}. {{ asignatura.nombre }}
        </ion-list>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-button (click)="escanearCodigo()">REGISTRAR ASISTENCIA</ion-button>
  <ion-button (click)="verAsis()" color="dark">Ver asistencia</ion-button>
</ion-content>



