<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container" [fullscreen]="true">
  <form (ngSubmit)="onSubmit()">
    <ion-text color="primary">
      <h1>Datos de inicio de sesión.</h1>
    </ion-text>
    <ion-item>
      <ion-label position="stacked" color="primary">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="emailUser" name="emailUser"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="Contrasena" name="Contrasena"></ion-input>
    </ion-item>
    
    <ion-text color="danger" *ngIf="Contrasena && Contrasena.length < 6">
      La contraseña debe tener al menos 6 caracteres.
    </ion-text>
    
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <a href="/password"> ¿Olvidaste tu Contraseña?</a>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" type="submit">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>


