ion-header {
    --background: #0A2A47;
    --color: #FFD100;
  }
  
  ion-toolbar {
    --background: #0A2A47;
    --color: #FFD100;
  }
  
  ion-title {
    color: #fff;
  }
  
  ion-content {
    --background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url("/assets/fondo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
  
  ion-list, ion-item, ion-label {
    --ion-text-color: #0A2A47;
  }
  
  ion-button {
    --ion-text-color: #0A2A47;
    font-weight: bold; /* Texto en negrita */
  }
  
  
  