<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="/assets/cambio1.jpg" class="imagen-contrasena"> </ion-img>
  <ion-text color="primary">
  </ion-text>

  <ion-item>
    <ion-label position="stacked">Correo Electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña Nueva</ion-label>
    <ion-input type="password" [(ngModel)]="nuevaContrasena"></ion-input>
  </ion-item>

  <ion-button expand="block" shape="round" (click)="cambiarContrasena()">Restablecer Contraseña</ion-button>


</ion-content>


