<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="pagina1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Registro de Asistencia</h2>

  <!-- Lista de asignaturas -->
  <ion-list *ngFor="let asignatura of asignaturas">
    <ion-item>
      <ion-label>{{ asignatura.nombre }}</ion-label>
      <!-- Puedes agregar más detalles o acciones según tus necesidades -->
    </ion-item>
  </ion-list>
</ion-content>
